.container{
    background-color: grey;
    margin-left: 8%;
    height: 71px;
}

.containerdash{
    margin-top:10%;
   
}
.questioninp{
    /* background-color: #33ccff; */
    color: white !important;
    margin-top:4%;
}
.table{
    margin-left:10%;
    width:80%;
}