.conttable{
    background: linear-gradient(to bottom, #89f7fe 100%, #66a6ff 100%);
}
.question{
   /* color:black; */
   font-size: xx-large;
  margin-right: 479px;
}
.input{
    margin-left: 781px;
}
.inputfield{
    width: 300px;
    height: 61px;
    color: white;
    background-color: #78706f;
    /* background:linear-gradient(to bottom,#434343 , #000000); */
}
.button3{
    margin-top: 10px;
    margin-left: 20px;
}
.postbtn{
    background-color: #063f5c;
    color:white;
    margin-left: 185px;
    margin-top: 10px;
}
.pstanswheading{
    margin-left: 418px;
}
.Answer{
    margin-left:50px;
    margin-top:10px;
}
.answerline{
    padding:10px;
    font-size:16px;
    color: black;
    margin-right: 121px;
}