.question{
   color:blue;
}
/* .container1{
    border: 1px solid grey;
    margin-left: 100px;
    width: 80%;
} */
/* .container1{
    border: 1px solid black;;
} */
.Answer{

}
.input{
    margin-top: 20px;
    margin-left:150px;
}
.button2{
    margin-top: 10px;
    margin-left: 20px;
}