.footer{
  position: fixed;
     bottom: 0;
    background-color:#777;
    width: 100%;
  }
  h6{
    color: black;
  }
.icon1{
    width:20px;
   margin:10px;
}
.ggllogo{
  padding-right: 10px;
  color: black;
}
.fblogo{
  color: black;
}