
.frgtpassw{
    background-image: url("../Images/fgimage.jpg") ;
    background-size:cover;
  background-image: no-repeat;
  height: 1000px;
   
}
.passw{
    margin-top: 10px;
}
.chngbtn{
    background-color: #1287ea;
    background-color: #27348b !important;;
}