#register1
{
  width: 400px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background:#3B5998 ;
  margin: 100px auto;
}
.login{
    margin-left:400px !important;
}
.socialicon{
    height: 31px;
    width: 53%;
    margin-left: 98px;
    background: #3B5998;
    color:white;
    border-radius:5px;
}
.fa {
    padding: 6px;
    font-size: 12px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-google {
    background: #E67E22 ;
    color: white;
}
.googleicon{
    height: 31px;
    width: 53%;
    margin-left: 98px;
    border-radius: 10px;
    background: #E67E22 ;
    color:white;
    border-radius:5px;
    margin-top: 14px;
}
.emailinp{
    margin-left: 97px;
}
.errorMsg {
    color: #cc0000;
    margin-bottom: 12px;
  }
  .button11 {
    background-color: #00BFFF;
    border-color: #3ac162;
    font-weight: bold;
   margin-left: 171px;
    color: #ffffff;
    width: 62px;
    height: 34px;
  }
  .text{
    margin-left:100px ;
  }
  .forgetpassword{
    margin-right:100px;
  }
  .forget{
    margin-left: 202px;
    color: #ffffff;
  }
  .cancel{
    margin-left:20px;
    background-color: #00BFFF;
    color: #ffffff;
  }