body{
    background-color: rgb(211, 228, 243);
    z-index:auto;
}
.h1{
    color: cadetblue;
}
h6{
    color:rgb(117, 122, 194)
}
.logo1{
    width:50px;
    height:50px;
}
.abtimg{
    width:300px;
    height:200px;
}
.logoname1{
    color: crimson;
 font-size: 24px;
}
.product{
    margin-top:300px;
}
.container1{
   
    margin-top:100px;   
}
/* .aboutus{
    margin-top:561px;
} */