.index{
    background: linear-gradient(to bottom, #89f7fe , #66a6ff 100%);
}
.h1{
    color: cadetblue;
}
h6{
    color:rgb(117, 122, 194)
}
.productpage{
    width:100%;
}
.logo1{
    width:50px;
    height:50px;
}
.abtimg{
    width:400px;
    height:300px;
}
.logoname1{
    color: crimson;
 font-size: 24px;
}
.product{
    margin-top:300px;
}
/* .customerpage{
    padding-top: 300px;
} */
.container1{
    margin-top:100px;   
}
.container2{
    width:100%;
}
.imag1{
    width: 100%;
    height: 227px;
}
.imag2{
    width: 100%;
    height: 227px;
}
.imag3{
    width: 100%;
    height: 227px;
}

.card-columns{
    margin: 5%;
    padding-top: 150px;
}