
.logo{
  width: 22% !important;
  /* margin-right: 26px !important; */
  float: left !important;
  margin-top: 5px !important;
  /* align-content:left !important; */
}
.about{
  margin-right: 38px;
  margin-top:25px;
}
.customer{
  margin-right: 48px;
  margin-top:25px;
}
.product1{
  margin-right: 43px;
  margin-top:25px;
}
.searchbtn{
  margin-right: 43px;
  margin-top:25px;
}
.search{
  width:200%;
}
.lognbtn{
  margin-right: 43px;
  margin-top:25px;
  margin-left: 320px;
}
.loginbttn{
  background-color: #d2daec;
}

.signbtn{
  margin-top:25px;
}


