
.logo{
  width: 84% !important;
  /* margin-right: 26px !important; */
  float: left !important;
  margin-top: 5px !important;
  /* align-content:left !important; */
}
.about{
  margin-right: 38px;
  margin-top:12px;
  margin-left: 39px;
}
.customer{
  margin-right: 48px;
  margin-top:12px;
}
.product1{
  margin-right: 43px;
  margin-top:12px;
}
.searchbtn{
  margin-right: 43px;
  margin-top:12px;
}
.search{
  width:200%;
  margin-right: 203px;
}
.lognbtn{
  margin-right: 43px;
   margin-top:12px;
  margin-left: 320px;
}
.loginbttn{
  
  margin-right: 30px;
}

.signbtn{
  margin-top:25px;
}

.modelbody{
  width: 10%;
}